// Hide the default logo, because it's in the brand header

.d-header .title a {
    position: relative;
    img {
        visibility: hidden;
    }
    &:after {
        content: "YoYoExpert Forums";
        display: block;
        min-width: 230px;
        color: $primary;
        position: absolute;
        top: -9px;
        font-size: 1.75em;
        font-weight: bold;

    }
}

.archetype-regular.docked,
.archetype-private_message.docked {
    .d-header .title a {
        position: relative;
        img {
            visibility: hidden;
        }
        &:after {
            content: "\f015";
            font-family: fontawesome;
            display: block;
            color: $primary;
            position: absolute;
            top: -14px;
            font-size: 2.5em;
            min-width: 40px;
        }
    }
}

// Add a slight border to the bottom of the header bar

.d-header {
    border-bottom: 1px solid #595959;
}
